<template name="loading">
    <div class="loader-wrapper">
        <div class="loader">
		  <div class="square square--main">
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		      <div class="square square--mini"></div>
		  </div>
		</div>
    </div>
</template>
