<template name="clientNew">
    <div class="page-header">
        <h1>
            
Creating a client
        </h1>
    </div>
    <div class="ya-actions">
        <a href="#" class="ya-secondary-btn ya-btn save-btn" id="saveBtn"><span class="fa fa-pencil-square-o"></span>retain</a>
        <a href="#" class="ya-third-btn ya-btn save-btn" id="saveAndCloseBtn"><span class="fa fa-check"></span>save and close</a>
        <a href="#" class="ya-third-btn ya-btn save-btn" id="saveAndCreateBtn"><span class="fa fa-plus"></span>save and create</a>
        <a href={{pathFor 'clients'}} class="ya-third-btn ya-btn ya-warn" id="backBtn"><span class="fa fa-times-circle"></span>cancel</a>
        <a href="#" class="ya-third-btn ya-btn ya-warn" id="sendFirstSms"><span class="fa fa-mobile"></span>Send SMS invitational</a>
    </div>
    <div class="info-wrapper">
        <h2 class="form-title">Personal customer data:</h2>
        <div class="info-line clearfix">
            <div class="input-group input-text floatleft">
                <label for="fullname">
Full name*</label>
                <input type="text" class="ya-form-control " id="fullname" placeholder="
Full name" value="" />
            </div>
            <div class="input-group input-text floatleft">
                <label for="phone">Phone *</label>
                <input type="text" class="ya-form-control " id="phone" placeholder="Phone" value="" />
            </div>
            <div class="input-group input-text floatleft">
                <label for="email">E-mail *</label>
                <input type="text" class="ya-form-control " id="email" placeholder="E-mail" value="" />
            </div>
            <div class="input-group input-text floatleft">
                <label for="password">
Password *</label>
                <input type="password" class="ya-form-control " id="password" placeholder="
Password" value="" />
            </div>
        </div>
    </div>
    
    <div class="info-wrapper">
        <h2 class="form-title">Seeking property:</h2>
        <div class="info-line clearfix">
            <div class="input-group input-text floatleft">
                <label for="typeofestate_ids">property Type</label>
                <select type="text" multiple="multiple" class="multiple-select ya-form-control" id="typeofestate_ids">
                    {{#each typeofestates}}
                        <option value="{{_id}}">{{typeOfEstateName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="input-group input-text floatleft">
                <label for="cityblock_ids">
Districts</label>
                <select type="text" multiple="multiple" class="multiple-select ya-form-control" id="cityblock_ids">
                    {{#each cityblocks}}
                        <option value="{{_id}}">{{cityBlockName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="input-group input-text floatleft">
                <label for="minPrice">
Price from</label>
                <input type="text" name="minPrice" class="ya-form-control" id="minPrice" placeholder="Цена от" value="0" />
            </div>
            <div class="input-group input-text floatleft">
                <label for="maxPrice">Price to</label>
                <input type="text" class="ya-form-control" id="maxPrice" placeholder="Цена до" value="" />
            </div>
        </div>
    </div>
    <div class="info-wrapper">
        <h2 class="form-title">
Notification settings:</h2>
        <div class="info-line clearfix">
            <div class="input-group input-text floatleft">
                <label for="notifiers">Уведомлять о новых объектах по</label>
                <select type="text" multiple="multiple" class="multiple-select ya-form-control" id="notifiers">
                        <option value="sms">Sms</option>
                        <option value="email">Email</option>
                </select>
            </div>
        </div>
    </div>
    <div class="info-wrapper">
        <h2 class="form-title">
Service information:</h2>
        <div class="info-line clearfix">
            <div class="input-group input-text floatleft">
                <label for="clientStatus">
customer Status:</label>
                <select type="text" name="clientStatus" class="ya-form-control" id="clientStatus">
                        <option value="active" checked>active</option>
                        <option value="adv">adv</option>
                        <option value="archive">archive</option>
                </select>
            </div>
            <div class="input-group input-text checkbox-input floatleft">
                <input  type="checkbox" class="ya-form-control" id="isInhabited" />
                <label for="isInhabited"><span>
populated</span></label>
            </div>
            <div class="input-group input-text checkbox-input floatleft">
                <input  type="checkbox" class="ya-form-control" id="isInhabitedByUs" />
                <label for="isInhabitedByUs"><span>Populate us</span></label>
            </div>
            <div class="input-group input-text checkbox-input floatleft">
                <input  type="checkbox" name="isProblem" class="ya-form-control" id="isProblem" />
                <label for="isProblem"><span>
Problem</span></label>
            </div>
        </div>
    </div>
    <div class="info-wrapper">
        <h2 class="form-title">
Status proring:</h2>
        <div class="info-line clearfix">
            <div class="input-group input-text floatleft">
                <label for="callStatus">
Status proring:</label>
                <select type="text" class="ya-form-control" id="callStatus">
                        <option value="200">200</option>
                        <option value="500">500</option>
                        <option value="404">404.</option>
                </select>
            </div>
            <div class="input-group input-text floatleft">
                <label for="source_id">A source *</label>
                <select type="text" class="ya-form-control" id="source_id">
                        <option value=""></option>
                    {{#each sources}}
                        <option value="{{_id}}">{{sourceName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="input-group input-text floatleft">
                <label for="notes">
Notes:</label>
                <textarea class="ya-form-control" id="notes"></textarea>
            </div>
        </div>
    </div>
</template>
