<template name="sources">
    <h1>
List of sources</h1>
    <div class="ya-actions actions-btns">
        <a href="{{pathFor 'sourceNew'}}" class="ya-secondary-btn" id="create">Add source</a>
    </div>
    <div class="list-table">
        <table class="ya-table">
            <thead>
                <tr class="pseudo-table-row table-titles">
                    <th class="table-cell-1">
                        <span>A source</span>
                    </th>
                    <th class="table-cell-2">
                        <span>
Added</span>
                    </th>
                    <th class="table-cell-3">
                        <span>
Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each sources}}
                    {{> sourceListItem}}
                {{else}}
                    {{> sourceListEmpty}}
                {{/each}}
            </tbody>
        </table>
    </div>
</template>