<template name="estateobjectNew">
    <div class="page-header">
        <h1>
            
Creating an object
        </h1>
    </div>
    <div class="ya-actions">
        <a href="#" class="ya-secondary-btn ya-btn save-btn saveBtn" data-id="saveBtn"><span class="fa fa-pencil-square-o"></span>retain</a>
        <a href="#" class="ya-third-btn ya-btn save-btn saveAndCloseBtn" data-id="saveAndCloseBtn"><span class="fa fa-check"></span>Save and close</a>
        <a href="#" class="ya-third-btn ya-btn save-btn saveAndCreateBtn" data-id="saveAndCreateBtn"><span class="fa fa-plus"></span>save and create</a>
        <a href={{pathFor 'estateobjects'}} class="ya-third-btn ya-btn ya-warn backBtn" data-id="backBtn"><span class="fa fa-times-circle"></span>cancel</a>
    </div>
    <div class="clearfix">
        <div class="ya-half-max">
            <div class="ya-half-spacer-big">
                <div class="info-wrapper">
                    <h2 class="form-title">The object on the map:</h2>
                    <div class="info-line clearfix">
                        <div id="map-wrapper">

                        </div>
                    </div>
                </div>
                <div class="info-wrapper">
                    <h2 class="form-title">
location:</h2>
                    <div class="info-line clearfix">
                        <div class="input-group input-text floatleft">
                            <label for="objectName">Name LCD ( home) *</label>
                            <input type="text" class="ya-form-control full-width" id="objectName"  value="" />
                        </div>
                    </div>
                    <div class="info-line clearfix">
                        <div class="input-group input-text floatleft">
                            <div class="input-group input-text floatleft">
                                <label for="price">Ciry *</label>
                                <input type="text" class="ya-form-control" id="price"  value="{{cityName}}" />
                            </div>
                        </div>
                        <div class="input-group input-text floatleft">
                            <label for="cityblock_id">A district of the city *</label>
                            <select type="text" class="ya-form-control" id="cityblock_id">
                                {{#each cityblocks}}
                                    <option value="{{_id}}">{{cityBlockNumber}}. {{cityBlockName}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="info-wrapper">
                    <div class="info-line clearfix">
                        <div class="input-group input-text floatleft">
                            <label for="street">
person *</label>
                            <input type="text" class="ya-form-control full-width" id="street"  value="" />
                        </div>
                    </div>
                </div>
                <div class="info-wrapper">
                    <div class="info-line clearfix">
                        <div class="input-group input-text floatleft">
                            <label for="houseNumber">Number</label>
                            <input type="text" class="ya-form-control quoter-width" id="houseNumber"  value="" />
                        </div>
                        <div class="input-group input-text floatleft">
                            <label for="corpNumber">Corp.</label>
                            <input type="text" class="ya-form-control quoter-width" id="corpNumber"  value="" />
                        </div>
                        <div class="input-group input-text floatleft">
                            <label for="strNumber">
pp</label>
                            <input type="text" class="ya-form-control quoter-width" id="strNumber"  value="" />
                        </div>
                    </div>
                </div>
                <div class="info-wrapper">
                    <div class="info-line clearfix">
                        <div class="input-group input-text checkbox-input floatright">
                            <input  type="checkbox" class="ya-form-control" id="isMapCorrect" />
                            <label for="isMapCorrect"><span>
The map displayed correctly</span></label>
                        </div>
                    </div>
                </div>

                <div class="info-wrapper">
                    <div class="tabs-controls clearfix">
                        <select type="text" class="ya-form-control hidden-input" id="category">
                                <option value="newbuild" selected="selected">new building</option>
                                <option value="oldbuild">Resellers</option>
                        </select>
                        <ul class="clearfix">
                            <li>
                                <a href="#" id="newbuild" class="active-tab">
new building<span class="ya-hide-line"></span></a>
                            </li>
                            <li>
                                <a href="#" id="oldbuild">Resellers<span class="ya-hide-line"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="tabs-content">
                        <div class="info-line clearfix">
                            <div class="input-group input-text floatleft">
                                <label for="yearOfEnd">Completion Year *</label>
                                <select type="text" class="ya-form-control  quoter-width" id="yearOfEnd">
                                    <option value="">Completion Year</option>
                                    {{#each years}}
                                        <option value="{{year}}">{{year}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div id="quartalOfEndWrap" class="input-group input-text floatleft">
                                <label for="quartalOfEnd">Quarter *</label>
                                <select type="text" class="ya-form-control quoter-width" id="quartalOfEnd">
                                    <option value="">
Quarter</option>
                                    {{#each quartals}}
                                        <option value="{{quartal}}">{{text}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="input-group input-text floatleft">
                                <label for="wallstype_id">
Type of house *</label>
                                <select type="text" class="ya-form-control quoter-width" id="wallstype_id">
                                    {{#each wallstypes}}
                                        <option value="{{_id}}">{{wallsTypeName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="input-group input-text floatleft">
                                <label for="floority">number of storeys</label>
                                <input type="text" class="ya-form-control quoter-width" id="floority"  value="" />
                            </div>
                        </div>
                        <div class="info-line clearfix">
                            <div class="input-group input-text checkbox-input floatright">
                                <input  type="checkbox" class="ya-form-control" id="isCar" />
                                <label for="isCar"><span>The house has parking spaces</span></label>
                            </div>
                        </div>
                        <div class="info-line clearfix">
                            <div class="input-group input-text checkbox-input floatright">
                                <input  type="checkbox" class="ya-form-control" id="isCommerce" />
                                <label for="isCommerce"><span>
In the house there is a commercial property</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-wrapper">
                    <h2 class="form-title">Фото дома:</h2>
                    <div class="info-line clearfix">
                            {{> upload_bootstrap fileTypes='.jpg' multiple=true callbacks=myCallbacks formData=specificFormData}}
                    </div>
                    <div class="info-line clearfix">

                        {{#each uploadedImagesArr}}
                            {{> uploadedImagesArrItem}}
                        {{/each}}
                    </div>
                </div>
                <div class="info-wrapper">
                    <h2 class="form-title">Планировки:</h2>
                    <div class="info-line clearfix">
                            {{> upload_bootstrap fileTypes='.jpg' multiple=true callbacks=planningsCallbacks formData=specificFormData}}
                    </div>
                    <div class="info-line clearfix">

                        {{#each planningsArr}}
                            {{> planningsImagesArrItem}}
                        {{/each}}
                    </div>
                </div>
                <div class="info-wrapper">
                    <div class="info-line clearfix">
                        <h2 class="form-title">Video home:</h2>
                        <div class="input-group input-text">
                            <label for="thumbVideo">Short videos:</label>
                            <input type="text" class="ya-form-control full-width" id="thumbVideo" placeholder="YouTube Id" value="" />
                        </div>
                        <div class="videoArounder">
                            <div id="playerThumb"></div>
                        </div>
                    </div>
                    <div class="info-line clearfix">
                        <div class="input-group input-text">
                            <label for="fullVideo">
Detailed video:</label>
                            <input type="text" class="ya-form-control full-width" id="fullVideo" placeholder="YouTube Id" value="" />
                        </div>
                        <div class="videoArounder">
                            <div id="player"></div>
                        </div>
                    </div>
                </div>
                <div class="info-wrapper">
                    <h2 class="form-title">
Infrastructure:</h2>
                    <div class="info-line clearfix">
                        <div class="input-group input-text">
                            <label for="shops">
The shops:</label>
                            <input type="text" class="ya-form-control full-width" id="shops" placeholder="Магазины" value="" />
                        </div>
                    </div>
                    <div class="info-line clearfix">
                        <div class="input-group input-text">
                            <label for="tradeCenters">Shopping centers:</label>
                            <input type="text" class="ya-form-control full-width" id="tradeCenters" placeholder="Торговые центры" value="" />
                        </div>
                    </div>
                    <div class="info-line clearfix">
                        <div class="input-group input-text">
                            <label for="kindergardens">Kindergartens:</label>
                            <input type="text" class="ya-form-control full-width" id="kindergardens" placeholder="Детские сады" value="" />
                        </div>
                    </div>
                    <div class="info-line clearfix">
                        <div class="input-group input-text">
                            <label for="schools">
Schools:</label>
                            <input type="text" class="ya-form-control full-width" id="schools" placeholder="Школы" value="" />
                        </div>
                    </div>
                    <div class="info-line clearfix">
                        <div class="input-group input-text">
                            <label for="medicCenters">Medical centers:</label>
                            <input type="text" class="ya-form-control full-width" id="medicCenters" placeholder="Медицинские центры" value="" />
                        </div>
                    </div>
                    <div class="info-line clearfix">
                        <div class="input-group input-text">
                            <label for="joyCenters">Entertainment centers:</label>
                            <input type="text" class="ya-form-control full-width" id="joyCenters" placeholder="Развлекательные центры" value="" />
                        </div>
                    </div>
                    <div class="info-line clearfix">
                        <div class="input-group input-text">
                            <label for="transport">Transport accessibility:</label>
                            <input type="text" class="ya-form-control full-width" id="transport" placeholder="Транспортная доступность" value="" />
                        </div>
                    </div>
                    <div class="info-line clearfix">
                        <div class="input-group input-text">
                            <label for="desc">
Description of the house</label>
                            <textarea placeholder="Описание" class="full-width ya-form-control " id="desc"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ya-half-min">
            <div class="ya-half-spacer">
                <h2 class="form-title">areas {{cityName}}:</h2>
                <table>
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>
Description of the area</th>
                            <th>
Main highways</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cityblocks}}
                            <tr>
                                <td>{{cityBlockNumber}}</td>
                                <td>{{cityBlockName}}</td>
                                <td>{{cityBlockRoads}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="ya-actions">
        <a href="#" class="ya-secondary-btn ya-btn save-btn saveBtn" data-id="saveBtn"><span class="fa fa-pencil-square-o"></span>retain</a>
        <a href="#" class="ya-third-btn ya-btn save-btn saveAndCloseBtn" data-id="saveAndCloseBtn"><span class="fa fa-check"></span>save and close</a>
        <a href="#" class="ya-third-btn ya-btn save-btn saveAndCreateBtn" data-id="saveAndCreateBtn"><span class="fa fa-plus"></span>save and create</a>
        <a href={{pathFor 'estateobjects'}} class="ya-third-btn ya-btn ya-warn backBtn" data-id="backBtn"><span class="fa fa-times-circle"></span>cancel</a>
    </div>
</template>
