<template name="uploadedImagesArrItem">
    <div class="uploaded-images floatleft"><span class="fa fa-times-circle deleteLink"></span>
        <a href="/upload/{{subDirectory}}/bigImage/{{name}}" class="gallery" rel="ya-gal-1">
            <img src="/upload/{{subDirectory}}/thumbImage/{{name}}" />
        </a>
    </div>
</template>
<template name="planningsImagesArrItem">
    <div class="uploaded-images floatleft"><span class="fa fa-times-circle deleteLink"></span>
        <a href="/upload/{{subDirectory}}/bigImage/{{name}}" class="gallery" rel="ya-gal-2">
            <img src="/upload/{{subDirectory}}/thumbImage/{{name}}" />
        </a>
    </div>
</template>
