<template name="wallstypes">
    <h1>
Types of houses</h1>
    <div class="ya-actions actions-btns">
        <a href="{{pathFor 'wallstypeNew'}}" class="ya-secondary-btn" id="create">Add the type of home</a>
    </div>
    <div class="list-table">
        <table class="ya-table">
            <thead>
                <tr class="pseudo-table-row table-titles">
                    <th class="table-cell-1">
                        <span>
Type of repair</span>
                    </th>
                    <th class="table-cell-2">
                        <span>Added</span>
                    </th>
                    <th class="table-cell-3">
                        <span>
Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each wallstypes}}
                    {{> wallstypeListItem}}
                {{else}}
                    {{> wallstypeListEmpty}}
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
