<template name="profile">
    <div class="page-header">
        <h1>
            Edit Profile {{fullname}}
        </h1>
    </div>
    <div class="info-wrapper">
        <h2 class="form-title">Change password:</h2>
        <div class="info-line clearfix">
            <div class="input-group input-text floatleft">
                <label for="typeOfEstateName">
old password *</label>
                <input type="password" name="oldPassword" class="ya-form-control " id="oldPassword"  value="" />
            </div>
            <div class="input-group input-text floatleft">
                <label for="typeOfEstateName">
New password *</label>
                <input type="password" name=" newPassword" class="ya-form-control " id="newPassword"  value="" />
            </div>
        </div>
    </div>
    <div class="actions">
        <a href="#" class="ya-secondary-btn ya-btn save-btn" id="saveBtn"><span class="fa fa-pencil-square-o"></span>
retain</a>
    </div>
</template>
